<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    {% include "layouts/navbar.html" %}
</head>

<body>
<h1> The Development Team</h1>
<center><h2>Aadya Daita</h2></center>
<h5>Hello everyone, hope you like our website! Below are a few things about me :)
    I'm a sophomore in Del Norte High School, and I am passionate about learning computer science!
<br>
    <strong>Role: Technical Officer - </strong>I was responsible for adding the login feature to the teach database. Additionally, I added
    the feature where each teacher is able to redirect to their student database.
</h5>
<br>
<img alt="" src="/static/insta.png" style="height: 300px" id="aadya" />

<br>
<br>
<br>
<h2>Saumya </h2>
<h5>Hey!
</h5>

<br>
<br>
<h2>Arushi </h2>
<h5>Hey!
</h5>


<br>
<br>
<h2>Sarayu </h2>
<h5>Hey!
</h5>

</body>
</html>



<style>
    h3.text {

    }




</style>