<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
{#    {% extends "layouts/login_layout.html" %}#}
<h2>Google Maps</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d670.042332373402!2d-117.12154255564326!3d33.01454987136098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dba1ec35227da1%3A0x59bf2ef553075a2b!2sDel%20Norte%20High%20School!5e0!3m2!1sen!2sus!4v1652724517413!5m2!1sen!2sus" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<a href = "https://sites.google.com/powayusd.com/dnhs-equity/home"</a> </html>

